<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Крутая страничка</title>
    <style>
        h1{
            font-family: cursive;
        }
        h2{
            color: blue;
            margin-top: -25px;
        }
    </style>
</head>
<body>
<header><h1>Это же текст в курсиве!</h1></header>
    <h2>А этот текст синий и выше чем должен быть!</h2>
    <div>
    <ul style= 'float:right; margin-top: -25px'>
        <li>Это же список!</li>
        <ul>
            <li>Да это подсписок!</li>
            <li>Так он еще и справа!</li>
        </ul>
        <li>И еще один пункт!</li>
        <ul>
            <li>Это флажок!<input type="checkbox" id='Флажок' checked><label for="Флажок"> Он даже жмется!</label><br></li>
        </ul>
        </ul>
    </div>
    <div>
        Все это сделано при помощи редактора brackets.
    </div>
</body>
</html>